$main-font-color: #000;
$main-border-color: #000;

$app-color: #00B94B;
$app-light-color: #FF5600;
$app-dark-color: #45352D;
$app-danger-color: #FF0000;

.icon-checkmark2:before {
  content: "\ea11";
}