{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <a href="/product" class="c-button c-button__breadcrumbs">List products</a>

        {{ form_start(form, {'attr': {'class': 'product_form'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
