{% extends 'base.html.twig' %}
{% block body %}
    <a href="/product">List products</a>

    {{ form_start(form, {'attr': {'class': 'product_form'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
